<%= form_for(itinerary) do |f| %>
  <% if itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
      <% itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origin %>
    <%= f.text_field :origin %>
  </div>

  <div class="field">
    <%= f.label :destiny %>
    <%= f.text_field :destiny %>
  </div>

  <div class="field">
    <%= f.label :departure_time %>
    <%= f.datetime_select :departure_time %>
  </div>

  <div class="field">
    <%= f.label :arrival_time %>
    <%= f.datetime_select :arrival_time %>
  </div>

  <div class="field">
    <%= f.label :ship %>
    <%= f.text_field :ship %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
