<p id="notice"><%= notice %></p>

<h1>Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destiny</th>
      <th>Departure time</th>
      <th>Arrival time</th>
      <th>Ship</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.origin %></td>
        <td><%= itinerary.destiny %></td>
        <td><%= itinerary.departure_time %></td>
        <td><%= itinerary.arrival_time %></td>
        <td><%= itinerary.ship %></td>
        <td><%= itinerary.status %></td>
        <td><%= link_to 'Show', itinerary %></td>
        <td><%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
        <td><%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>
