<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @itinerary.origin %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @itinerary.destiny %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @itinerary.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @itinerary.arrival_time %>
</p>

<p>
  <strong>Ship:</strong>
  <%= @itinerary.ship %>
</p>

<p>
  <strong>Status:</strong>
  <%= @itinerary.status %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
