<p id="notice"><%= notice %></p>

<h1>Harbors</h1>

<table>
  <thead>
    <tr>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Name</th>
      <th>Commune</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harbors.each do |harbor| %>
      <tr>
        <td><%= harbor.longitude %></td>
        <td><%= harbor.latitude %></td>
        <td><%= harbor.start_time %></td>
        <td><%= harbor.end_time %></td>
        <td><%= harbor.name %></td>
        <td><%= harbor.commune %></td>
        <td><%= harbor.capacity %></td>
        <td><%= link_to 'Show', harbor %></td>
        <td><%= link_to 'Edit', edit_harbor_path(harbor) %></td>
        <td><%= link_to 'Destroy', harbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harbor', new_harbor_path %>
