<p id="notice"><%= notice %></p>

<p>
  <strong>Longitude:</strong>
  <%= @harbor.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @harbor.latitude %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @harbor.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @harbor.end_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @harbor.name %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @harbor.commune %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @harbor.capacity %>
</p>

<%= link_to 'Edit', edit_harbor_path(@harbor) %> |
<%= link_to 'Back', harbors_path %>
